---
import Layout from "../layouts/Layout.astro";
---

<Layout title="You're lost!">
	<h1>Welcome to Share Pear!</h1>
	<p>You seem lost, buddy.</p>

	<p>
		You can also check out:
		<ul>
			<li>
				<a href="https://github.com/Contenda-Team/share-pear"
					>The Share Pear repository</a
				>
			</li>
			<li><a href="https://www.brainstory.ai/">Brainstory</a></li>
			<li>
				<a href="https://cass.run/dpr"
					>Distributed Persistent Rendering</a
				>
			</li>
			<li><a href="https://cass.run/odb">On-Demand Builders</a></li>
			<li><a href="https://cass.run/edge">Edge Functions</a></li>
			<li><a href="https://cassidoo.co/newsletter">My newsletter</a></li>
		</ul>
	</p>
</Layout>
